.container {
    font-family: Times New Roman, sans-serif;
    font-size: 20px;
    color: rgb(167, 42, 104);
    padding: 15px;
    border-radius: 10px;
}
.something {
    background-color: rgb(223, 200, 211);
}